@import "components/utilities/variables";

.home-logo {
  width: 20rem;
  height: 20rem;
  margin: auto;
  margin-top: 1rem;
}

.home-button-container {
  display: flex;
}

.home-button {
  margin-top: 1rem;
  flex-grow: 1;
}

.home-text {
  font-size: 1.5rem;
  background-color: $white;
  padding: 1rem;
  border-radius: 1rem;
}

.accent {
  font-size: 1.75rem;
  color: $soft-green;
}


//form
.home-inputs {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.tag-item {
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: #B1CF66;
  border: 1px solid #B1CF66;
  color: white;
  margin-bottom: 1rem;
}

.tag-selector:checked + label {
  background-color: white;
  color: #B1CF66;
  border: 1px solid #B1CF66;
}

.home-submit {
  border: none;
  background: $soft-green;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  flex-grow: 1;
}

.home-submit:hover {
  background: #9dc33f;
}

.home-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.home-slide input[type=range] {
  height: 1rem;
  margin: 10px 0;
  accent-color: $soft-green;
}


//media
@media screen and (min-width: 1000px) {
  .home-vertical {
    width: 65%;
  }

}