@import "components/utilities/variables";

.home-logo {
  width: 20rem;
  height: 20rem;
  margin: auto;
  margin-top: 1rem;
}

.home-button-container {
  display: flex;
}

.home-button {
  margin-top: 1rem;
  flex-grow: 1;
}

.home-text {
  font-size: 1.5rem;
  background-color: $white;
  padding: 1rem;
  border-radius: 1rem;
}

.accent {
  font-size: 1.75rem;
  color: $soft-green;
}

@media screen and (min-width: 1000px) {
  .home-vertical {
    width: 65%;
  }

}