@import "components/utilities/variables";

.home-logo {
  width: 10rem;
  height: 10rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.home-button-container {
  display: flex;
}

.home-button {
  margin-top: 1rem;
  flex-grow: 1;
}

.home-text {
  font-size: 1.25rem;
  background-color: $white;
  padding: 0.75rem;
  border-radius: 1rem;
  margin-bottom: 2rem;

  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}

.accent {
  font-size: 1.75rem;
  color: $soft-green;
}


//form
.home-inputs {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.tag-selector {
  position: absolute;
  transform: scale(0);

}

.tag-item input[type=checkbox] {
  opacity: 0;
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;

  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  color: $soft-green;
  margin-bottom: 1rem;

  //neu
  background-color: $white;
  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}

.tag-selector:checked + label {
  box-shadow: inset $offset $offset $blur #96b057,
  inset $offset-neg $offset-neg $blur #ccee75;
  color: $white;
  background-color: $soft-green;
}

.home-submit {
  border: none;
  color: $soft-green;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  flex-grow: 1;

  transition: 50ms;
  //neu

  background-color: $white;
  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}

.home-submit:hover {
  box-shadow: inset $offset $offset $blur #96b057,
  inset $offset-neg $offset-neg $blur #ccee75;
  color: $white;
  background-color: $soft-green;
}

.home-slide {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $white;
  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}


.home-slide input[type=range] {
  height: 1rem;
  margin: 10px 0;
  width: 100%;
  accent-color: $soft-green;
}

.home-slide-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

//media
@media screen and (min-width: 1000px) {
  .home-vertical {
    width: 65%;
  }

}