<div class="cookbook-recipes-container">
  <% @user_recipes.each do |user_recipe| %>
    <%= link_to "/recipes/#{user_recipe.recipe.id}", class: "cookbook-link" do %>
      <div class="cookbook-recipe">
        <%= cl_image_tag user_recipe.recipe.photo.key,
                         :cloud_name => "dxpqczcfs", class: "cookbook-recipe-img" %>
        <div class="cookbook-vertical">
          <div class="cookbook-info">
            <p class="cookbook-recipe-name"><%= user_recipe.recipe.name %></p>
          </div>
          <div class="cookbook-status">
            <span><i class="fa-solid fa-clipboard-list"></i></span>
            <span><i class="fa-solid fa-fire-burner"></i></span>
            <span><i class="fa-solid fa-bowl-rice"></i></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
