<div class="cookbook-recipes-container">
  <% @user_recipes.each do |user_recipe| %>
    <%=link_to "/recipes/#{user_recipe.recipe.id}", class:"cookbook-link" do%>
      <div class="cookbook-recipe">
        <%= cl_image_tag user_recipe.recipe.photo.key,
                         :cloud_name => "dngjlm1w0", class: "cookbook-recipe-img" %>
        <div class="cart-info">
          <p class="cookbook-recipe-name"><%= user_recipe.recipe.name %></p>
        </div>
      </div>
      <%end %>
  <% end %>
</div>
