<div class="parent">
  <% counter = 0 %>
  <% @recipes.each do |recipe| %>
    <% counter += 1 %>
    <div class="child" style="z-index: <%= counter %>" data-controller="card-actions">
      <%= render "shared/cards/dish",
                 name: recipe.name,
                 cuisine: recipe.cuisine_type,
                 time: recipe.cooking_time,
                 image: recipe.photo.key,
                 recipe: recipe %>
    </div>
  <% end %>
</div>
