<ul class="stack" data-controller="swinger">
  <% counter = 0 %>
  <% @recipes.each do |recipe| %>
    <% counter += 1 %>
    <li class="child" style="z-index: <%= counter %>"
        data-swinger-target="card">
      <%= render "shared/cards/dish",
                 name: recipe.name,
                 cuisine: recipe.cuisine_type,
                 time: recipe.cooking_time,
                 image: recipe.photo.key,
                 recipe: recipe %>
    </li>
  <% end %>
</ul>
