<%=render "shared/cards/dish",
          name:"name", cuisine:"cuisine type",
          time: "cooking time",
          image:"https://picsum.photos/320/320" %>


<div class="container">

          <h1>NOT LIKE</h1> <h1>LIKE</h1>
</div>
