<div class="tinder-cards">
  <%@recipes.each do|recipe| %>
    <%=render "shared/cards/dish",
              name: recipe.name,
              cuisine:recipe.cuisine_type,
              time: recipe.cooking_time,
              image: recipe.photo.key %>
  <%end %>
</div>