<!--put searchbar here-->

<ul class="stack standard-container" data-controller="swinger">
<%# move the next line to the controller %>
<%# where("meal_type = ? AND cooking_time <= ?", params[:meal_type], params[:time]). %>
  <% @recipes.limit(8).reverse.each do |recipe| %>
    <li class="child" data-swinger-target="card">
      <%= render "shared/cards/dish",
                 name: recipe.name,
                 cuisine: recipe.cuisine_type,
                 time: recipe.cooking_time,
                 image: recipe.photo.key,
                 recipe: recipe %>
    </li>
  <% end %>
</ul>
