<div class="recipe-container">
  <div class="flex-container">
    <div class="recipe-img-container">
             <img src="https://picsum.photos/400"
                  alt="recipe image" class="recipe-img">
      </div>
    <div class="recipe-info">
      <h1 class="recipe-name">Name</h1>


    </div>
  </div>
</div>
