@import "../../components/utilities/variables";

.list-vertical {
  width: 90vw;
  overflow-y: scroll;
}

.show-spacing {
  padding-top: 1rem;
}

.list-item-name {
  font-size: 1.5rem;
  border-bottom: 3px solid $gray;
  margin-bottom: 0.5rem;
}

.list-list {
  list-style: none;
  padding: 0;
  transition: 500ms;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.check-item {
  font-size: 1.25rem;
}


//Accordion

.accordion .content-bx {
  position: relative;
}

.accordion .content-bx .accordion-label {
  position: relative;
  cursor: pointer;
}

.accordion-content {
  transition: 800ms ease-in-out;
}

.accordion .content-bx .accordion-content {
  max-height: 120rem;
}

.accordion .content-bx .accordion-active {
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.arrow {
  transition: 300ms;
  transform: rotate(90deg);
}

.rotated {
  transform: rotate(-0deg);
}