<div class="navbar-container">
  <div class="navbar-item">
    <%=link_to "/list", class: 'navbar-item-link'  do%>
      <span class="navbar-item-icon"><i class="fa-solid fa-clipboard-list"></i></span>
    <%end %>
  </div>

  <div class="navbar-item">
    <%=link_to "/cookbook", class: 'navbar-item-link'  do%>
      <span class="navbar-item-icon"><i class="fa-solid fa-book-bookmark"></i></span>
    <%end %>
  </div>

  <div class="navbar-item">
    <%=link_to "/recipes", class: 'navbar-item-link'  do%>
      <span class="navbar-item-icon"><i class="fa-solid fa-utensils"></i></span>
    <%end %>
  </div>

  <div class="navbar-item">
    <%=link_to "/", class: 'navbar-item-link'  do%>
      <span class="navbar-item-icon"><i class="fa-solid fa-bars"></i></span>
    <%end %>
  </div>
</div>
