<%= simple_form_for [@recipe, @shopping_recipe],
                    html: { class: "add-ingredients-form" } do |f| %>
  <button type="submit" class="button add-ingredients">
    <span>Add to <i class="fa-solid fa-clipboard-list"></i></span>
  </button>
<% end %>
