<div class="button button-round cart">
  <%= link_to "#{link}", class: 'button-link' do %>
    <span class="button-bulb-text"><i class="fa-solid fa-lightbulb"></i></span>
  <% end %>
  <div class="cart-counter">
    <span data-swinger-target="counter"><%= counter %></span>
  </div>
</div>