

<div class="button button-small cross">
  <button type="submit"
          data-action="click->card-actions#submitDelete">
    <span class="button-text"><i class="fa-solid fa-cross"></i></span>
  </button>
</div>
