<div class="standard-container">
  <div class="home-logo home-grid-item">
    <%= image_tag "logo.png", class: "home-logo" %>
  </div>

  <div class="home-text d-flex justify-content-center">
    <p>Food for your Mood<i class="fa-solid fa-bowl-rice accent"></i></p>
  </div>
  <div class="home-button-container">
    <%= render "shared/buttons/home_active_green", link: "/recipes", text: "Let's Begin" %>
  </div>
</div>