@import "../../components/utilities/variables";

.page-name {
  margin-top: 1rem;
  font-size: 2rem;
  border-bottom: 3px solid $gray;
}

.cart-link {
  color: $black;
  text-decoration: none;
}

.cart-link:hover {
  color: $black;
}

.cart-recipe {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  background: $white;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cart-recipe-img {
  width: 10rem;
  height: 10rem;
}

.cart-controls {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

.cart-info {
  display: flex;
  justify-content: space-between;
}

.cart-recipe-name {
  font-size: 1.15rem;
  width: 8rem;
  max-height: 8.6rem;
  overflow: hidden;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.cart-size {
  max-height: 66vh;
  max-width: 100vh;
  overflow: scroll;
}

.cart-size-extra {
  max-height: 80%;
  max-width: 100%;
  overflow: scroll;
}

.cart-search {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  background: $white;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cart-search-extra {
  display: flex;
  margin: 1rem 0 1rem 0;
  background: $white;
  border-radius: 0.5rem;
  overflow: hidden;
}