@import "../../components/utilities/variables";

.cookbook-link{
  color: $black;
  text-decoration: none;
}
.cookbook-recipes-container{
  overflow-y: scroll;
  width: 90vw;
}
.cookbook-recipe{
  display: flex;
  margin: 1rem 0 1rem 0;
  background: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
}
.cookbook-recipe-img{
  width: 150px;
  height: 150px;
}
.cookbook-info{
  display: flex;
  justify-content: space-between;
}
.cookbook-recipe-name{
  font-size: 1.15rem;
  width: 100%;
  max-height: 6.5rem;
  overflow: hidden;
  margin: 0.8rem 0.5rem 1rem 0.5rem;
}
