@import "../../components/utilities/variables";

.cookbook-link {
  color: $black;
  text-decoration: none;
}

.cookbook-link:hover {
  color: $black;
}

.cookbook-recipes-container {
  overflow-y: scroll;
  width: 90vw;
}

.cookbook-recipe {
  display: flex;
  margin: 1rem 0 1rem 0;
  background: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
}

.cookbook-recipe-img {
  width: 8rem;
  height: 10rem;
  object-fit: cover;
}

.cookbook-info {
  height: 6.25rem;
  overflow: hidden;
}

.cookbook-recipe-name {
  font-size: 1.25rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.cookbook-status {
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.cookbook-status-labels {
  font-size: 0.75rem;
}

.cookbook-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.status-active i {
  color: $soft-green;
}

.cookbook-status button {
  background: none;
  border: none;
}

.status-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-text {
  font-size: 0.75rem;
}

.ckbk-icon {
  color: black;
}

.ckbk-icon-active {
  color: $food-mood;
}

.show-spacing {
  padding-top: 1rem;
}

.list-item-name {
  font-size: 1.5rem;
  border-bottom: 3px solid $gray;
  margin-bottom: 0.5rem;
}

.cookbook-cross .button {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  width: 1.75rem;
  height: 1.75rem;
}