@import "utilities/variables";

$width: 40%;
$height: 0.5rem;

.button {
  width: $width;
  padding: $height 0.5rem $height 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

.button:hover {
  //filter: brightness(90%);
}

.button a {
  text-decoration: none;
  color: $white;
}

.button-small {
  width: 1.75rem;
  height: 1.75rem;
}

.button-round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.button-text {
  font-size: 1rem;
  color: $white;
}

.button-link {
  display: flex;
  justify-content: center;
}

.button-form {
}

.archive-button {
  border: none;
  border-radius: 0.5rem;
  flex-grow: 1;
}

//card
.like {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: $white;
  color: $soft-green;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  transition: 150ms;

  //neumorphism

  background-color: $white;
  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}

.like:hover {
  box-shadow: inset $offset $offset $blur #96b057,
  inset $offset-neg $offset-neg $blur #ccee75;
  color: $white;
  background-color: $soft-green;
}

.pass {
  padding: 1rem;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  transition: 150ms;

  //neumorphism

  background-color: $white;
  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}

.pass .button-text {
  font-size: 1.5rem;
  color: $red;
}

.pass:hover {
  box-shadow: inset $offset $offset $blur #c93636,
  inset $offset-neg $offset-neg $blur #ff4a4a;
  color: $white;
  background-color: $red;
}

.pass:hover .button-text {
  color: white;
}

//


.active-green {
  background: $soft-green;
}

.active-red {
  background: $red;
}

.inactive {
  background: $gray;
}

.recipe-button {
  flex-grow: 1;
}

.cross {
  background-color: $white;
  box-shadow: $offset-sm $offset-sm $blur-sm #d9d9d9,
  $offset-sm-neg $offset-sm-neg $blur-sm #ffffff;
}

.cross .button-text {
  color: $red;
}

.cross:hover {
  box-shadow: inset $offset-sm $offset-sm $blur-sm #c93636,
  inset $offset-sm-neg $offset-sm-neg $blur-sm #ff4a4a;
  color: $white;
  background-color: $red;
}

.cross:hover .button-text {
  color: white;
}

.check {
  background-color: $white;
  box-shadow: $offset-sm $offset-sm $blur-sm #d9d9d9,
  $offset-sm-neg $offset-sm-neg $blur-sm #ffffff;
  border: none;
}

.check .button-text {
  color: $soft-green;
}

.check:hover {
  box-shadow: inset $offset $offset-sm $blur-sm #96b057,
  inset $offset-sm-neg $offset-sm-neg $blur-sm #ccee75;
  color: white;
  background-color: $soft-green;
}

.check:hover .button-text {
  color: white;
}


.cart {
  background-color: $gray;
  opacity: 75%;
  position: relative;
}

.cart a {
  color: $black;
}

.cart-counter {
  background-color: $green;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  border: 2px solid $background;
}

.add-ingredients-form {
  display: flex;
}

.add-ingredients {
  border: none;
  border-radius: 0.5rem;
  background-color: $soft-green;
  color: $white;
  flex-grow: 1;
}

.recipe-source {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.recipe-source a {
  text-decoration: none;
  color: $black;
}

.button-bulb-text {
  font-size: 1.25rem;
  color: #FFFFFF;
}