@import "utilities/variables";


.dish-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 300px;
  overflow-y: scroll;
}

.dish-container a {
  text-decoration: none;
  color: $black;
}

.dish {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  background: $white;
}

.dish-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.dish-description {
  padding: 0.5rem 0.5rem 1rem;
}

.dish-name {
  height: 6rem;
  max-height: 6rem;
  overflow: hidden;
  font-size: 1.5rem;

}

.dish-items {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.dish-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.85rem;
  border-radius: 0.5rem;

  //neumorphism
  color: rgba(0, 0, 0, 0.8);
  background-color: $white;
  box-shadow: $offset $offset $blur #d9d9d9,
  $offset-neg $offset-neg $blur #ffffff;
}

.cart-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.controls {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
