@import "utilities/variables";

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"].list {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  /* Not removed via appearance */
  opacity: 1;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border-radius: 0.5rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;


  background: #E7F7CB;
  box-shadow: 5px 5px 7px #d2e1b9,
  -5px -5px 7px #fcffdd;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  --form-control-color: white;

}

input[type="checkbox"].list:checked {

  background-color: #B1CF66;
  box-shadow: inset $offset-sm $offset-sm $blur-sm #96b057,
  inset $offset-sm-neg $offset-sm-neg $blur-sm #ccee75;
}