.main-container {
    justify-content: center;
    overflow: scroll;
    position: relative;
    margin-bottom: 8rem;
    padding-bottom: 1rem;
    height: calc(100vh - 70px);
}

.navbar-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 8rem;
}

.vertical {
    width: 90%;
    margin: 0 auto;
}

.standard-container {
    width: 90%;
    margin: 0 auto;
}