.main-container {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-rows: 80vh 20vh;
    justify-content: center;

    position: relative;
}

.navbar-container {
    width: 100%;
}

.vertical {
    margin: auto;
}