.alert {
  position: relative;
  z-index: 1000;
  animation-name: alertDelete;
  animation-delay: 600ms;
  animation-duration: 1405ms;
}

.alert-container {
  position: absolute;
  top: 1vh;
  left: 0;
  width: 90vw;
  z-index: 1000;
  opacity: 80%;
}

@keyframes alertDelete {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
