@import "utilities/variables";

.navbar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 3px solid $gray;
  margin-top: 0.5rem;
}

.navbar-item {
  margin: 0 auto;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.navbar-item-link {
  color: $black;
}

.navbar-item-link:hover {
  color: $soft-green;
}

.navbar-item-icon {

}
