@import "components/utilities/variables";

.recipe-container {
  margin-top: 1rem;
  padding: 0.5rem;
}


.recipe-img-container {
  padding-bottom: 1rem;
  position: relative;
}

.recipe-img {
  width: 90vw;
}

.ingredients {
  border-top: 3px solid $gray;
  margin-top: 1rem;
}

.ingredients-list ul {
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
}

.ingredient {
  font-weight: bold;
}

.back-link {
  position: absolute;
  top: 0.35rem;
  left: 0.35rem;
  opacity: 50%;
  font-size: 1.75rem;
  background: $gray;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-link a {
  color: $black;
}

.recipe-categories {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.ingredients-title i {
  font-size: 1.25rem;
}

.ingredients-title {
  padding: 1rem 0 0.5rem 0;
}

.recipe-categories p {
  font-size: 0.85rem;
  color: $black;
  padding: 0.5rem;
  border-radius: 0.5rem;

  //neu
  @include neu-wt
}

@media screen and (min-width: 800px) {
  .recipe-img {
    width: 16rem;
    height: 16rem;
  }
}