//COLORS
$gray: #D9D9D9;
$soft-green: #B1CF66;
$green: #7BE357;
$red: #EC4040;
$black: #151515;
$white: #FFFFFF;

$background: #F4F4F4;

//neu
$dark-green: #d9fa8d;

//mixin variables
$neu-bg: #E7F7CB;
$neu-border: 2px solid $neu-bg;
$prim: #c7d4af;
$second: #ffffe7;
$off: 5px;
$bl: 11px;
//

@mixin neu {
  border: $neu-border;
  background: $neu-bg;
  box-shadow: $off $off $bl $prim,
          (-$off) (-$off) $bl $second;
}

@mixin neu-wt {
  border: $neu-border;
  background: white;
  box-shadow: $off $off $bl $prim,
          (-$off) (-$off) $bl $second;
}


$offset: 6px;
$offset-neg: 6px;
$blur: 12px;
$offset-sm: 4px;
$offset-sm-neg: 4px;
$blur-sm: 8px;

